{% include "header.html" %}

  <!-- Page Header -->
  <header class="masthead" style="background-image: url({{ url_for('static', filename='img/about-bg.jpg')}})">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="page-heading">
            <h1>About Porzia</h1>
            <span class="subheading">This is what happens.</span>
          </div>
        </div>
      </div>
    </div>
  </header>

  <!-- Main Content -->
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <p>If you don't know what to cook, you will find an idea.</p>
        <p>If you don't have time to cook, you will find a quick idea, for those who don't have time to waste.</p>
        <p>Having an idea of what to prepare to eat, fast - good - healthy, because we don't have time to spend two hours in the kitchen!</p>
      </div>
    </div>
  </div>

  <hr>

  {% include "footer.html" %}